<%- include('../partials/head') %>

<main>
  <% if (messages && messages.notice) { %>
    <div class="notice"><%= messages.notice %></div>
  <% } %>

  <% if (errors && errors.length > 0) { %>
    <ul class="notice error">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <h2>Welcome <%= accountData.account_firstname %></h2>

  <p>
    <a href="/account/update/<%= accountData.account_id %>">Update Account Information</a>
  </p>

  <% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv/">Go to Inventory Management</a></p>
  <% } %>

    <!--Show admin-only tools if the logged-in user has an Admin account type:-->

  <% if (accountData.account_type === "Admin") { %>
    <h3>Admin Tools</h3>
    <p><a href="/account/manage-types">Manage Account Types</a></p>
  <% } %>
</main>

